<style>
    #leftManuTable {
        color: black;
        width: 400px !important;
        background-color: #E6EAEE;
        display: block;
        overflow: auto;
        overflow-y: hidden;
        white-space: nowrap;
        border: 1px solid #86D2EA;
    }
    #leftManuTable tr {
        font-size:15px !important;
        height:30px;
    }
    #leftManuTable tr:hover {
        background-color: #ABABB2;
        cursor:pointer;
    }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<table class="table table-dark" id="leftManuTable">
    <thead>
        <tr>
            <th scope="col">Group Number</th>
            <th scope="col">Group name</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacosssdddddsssss</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td></td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td></td>
        </tr>
        <tr>
            <th scope="row">6</th>
            <td></td>
        </tr>
        <tr>
            <th scope="row">7</th>
            <td></td>
        </tr>
        <tr>
            <th scope="row">8</th>
            <td></td>
        </tr>
        <tr>
            <th scope="row">9</th>
            <td></td>
        </tr>
        <tr>
            <th scope="row">10</th>
            <td></td>
        </tr>
        <tr>
            <th scope="row">11</th>
            <td></td>
        </tr>
        <tr>
            <th scope="row">12</th>
            <td></td>
        </tr>
        <tr>
            <th scope="row">13</th>
            <td></td>
        </tr>
    </tbody>
</table>



