<link href="~/Content/LeftManu.css" rel="stylesheet" />

<div class="container py-4">
    <div id="dataTable_wrapper_group"></div>
    <table id="dataTableGroup" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th> Key </th>
                <th> დასახელება</th>
            </tr>
        </thead>
    </table>
</div>






