<style>
    #topButtonsGroup {
        margin-bottom:5px;
    }
    #topButtonsGroup .btn {
        font-size: 15px;
        background-color: #E6E6E6;
        color: #37C5EF;
        margin-left: 10px;
    }
    #topButtonsGroup .btn:hover {

    }
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div id="topButtonsGroup">
    <button class="btn"><i class="fa fa-search" aria-hidden="true"></i></button>
    <button class="btn"><i class="fa fa-font" aria-hidden="true"></i></button>
    <button class="btn"><i class="fa fa-eraser" aria-hidden="true"></i></button>
    <button class="btn"><i class="fa fa-refresh" aria-hidden="true"></i></button>
    <button class="btn">
        <i class="fa fa-search-minus" aria-hidden="true"></i>
    </button>
    <button class="btn">
        <i class="fa fa-search-plus" aria-hidden="true"></i>
    </button>
</div>







